<h2>Search All Letters</h2>

<div id="adv-search-bar">
  <input id="adv-search-box" type="text" />
  <button id="adv-search-button" type="button">Search</button>

</div>
<div id="adv-search-type-bar">
  <span><input id="adv-search-type-metadata" type="radio" name="search-type" checked> <label for="adv-search-type-metadata">Letters and metadata</label></span>
  <span><input id="adv-search-type-letters" type="radio" name="search-type"> <label for="adv-search-type-letters">Letters only</label></span>
</div>

<div id="adv-search-filter-and-results">
  <div id="adv-search-filter">
    <!-- DATE FILTER -->
    <details>
      <summary>Dates</summary>
      <label class="metadata-label">Date From</label>
      <div class="adv-date-search-bar">
        <input id="adv-search-date-from-year-box" class="date-box year" placeholder="1791" max="2000" type="number" />
        <input id="adv-search-date-from-month-box" class="date-box month" placeholder="12" max="12" type="number" />
        <input id="adv-search-date-from-day-box" class="date-box day" placeholder="7" max="31" type="number" />
      </div>

      <label class="metadata-label">Date To</label>
      <div class="adv-date-search-bar">
        <input id="adv-search-date-to-year-box" class="date-box year" placeholder="1848" max="2000" type="number" />
        <input id="adv-search-date-to-month-box" class="date-box month" placeholder="7" max="12" type="number" />
        <input id="adv-search-date-to-day-box" class="date-box day" placeholder="1" max="31" type="number" />
      </div>

      <button type="button" id="adv-search-dates-apply-button">Apply Dates</button>
    </details>

    <!-- PEOPLE FILTER -->
    <details>
      <summary>People</summary>
      <select id="adv-search-people-filter" class="filter-box" name="people[]" multiple="multiple" data-type_label="person"></select>
    </details>

    <!-- WORKS FILTER -->
    <details>
      <summary>Works</summary>
      <select id="adv-search-work-filter" class="filter-box" name="works[]" multiple="multiple" data-type_label="person"></select>
    </details>

    <!-- PLACES FILTER -->
    <details>
      <summary>Places</summary>
      <select id="adv-search-place-filter" class="filter-box" name="places[]" multiple="multiple" data-type_label="person"></select>
    </details>

    <!-- REPOSITORY FILTER -->
    <details>
      <summary>Repository</summary>
      <select id="adv-search-repo-filter" class="filter-box" name="repos[]" multiple="multiple" data-type_label="person"></select>
    </details>

    <button type="button" id="adv-search-clear-filter-button">Clear All Filters</button>
  </div>
  <div id="adv-search-results-container">
    <div id="adv-search-results-meta-bar">
      <select id="adv-search-sort-box">
        <option value="asc">Sort By: Date (earliest first)</option>
        <option value="desc">Sort By: Date (latest first)</option>
      </select>

      <span id="adv-search-count-bar">
        Showing <span id="adv-search-current-result">1</span> out of <span id="adv-search-total-results"></span>
      </span>
    </div>

    <div id="adv-search-results">

    </div>
  </div>
</div>

<div id="adv-search-modal">
  <div id="adv-search-modal-apply-close">
    <button type="button" id="adv-search-modal-apply-button">Apply Filters</button>
    <img id="adv-search-modal-close-button" src="img/icon_hamburger_close.png" data-url-prepend-attr="src" />
  </div>

  <div id="adv-search-modal-search-and-filter-div"></div>
</div>
