<div id="browse-by-bar">
  <span id="browse-by-label">Browse By</span>

  <a class="browse-by-pill" href=""><img src="img/icon_people.png" data-url-prepend-attr="src" /> People</a>

  <a class="browse-by-pill" href=""><img src="img/icon_date.png" data-url-prepend-attr="src" /> Date</a>

  <a class="browse-by-pill" href=""><img src="img/icon_place.png" data-url-prepend-attr="src" /> Places</a>

  <a class="browse-by-pill" href=""><img src="img/icon_work.png" data-url-prepend-attr="src" /> Works</a>

  <a class="browse-by-pill" href=""><img src="img/icon_repository.png" data-url-prepend-attr="src" /> Repository</a>
</div>
