<div id="browse-by-bar">
  <span id="browse-by-label">Browse By</span>

  <a class="browse-by-pill" href="javascript:void(0)" data-entity_type="PERSON"><img src="img/icon_people.png" data-url-prepend-attr="src" /> People</a>

  <a class="browse-by-pill" href="javascript:void(0)" data-entity_type="DATE"><img src="img/icon_date.png" data-url-prepend-attr="src" /> Date</a>

  <a class="browse-by-pill" href="javascript:void(0)" data-entity_type="PLACE"><img src="img/icon_place.png" data-url-prepend-attr="src" /> Places</a>

  <a class="browse-by-pill" href="javascript:void(0)" data-entity_type="WORK"><img src="img/icon_work.png" data-url-prepend-attr="src" /> Works</a>

  <a class="browse-by-pill" href="javascript:void(0)" data-entity_type="ORG"><img src="img/icon_repository.png" data-url-prepend-attr="src" /> Repository</a>
</div>

<div id="browse-by-tray">
  <select id="browse-by-sort-box">
    <option value="alpha">Sort By: A-Z</option>
    <option value="freq">Sort By: Frequency</option>
  </select>
  <div id="browse-by-index"></div>
</div>
