<div id="browse-by-bar">
  <h2 id="browse-by-label">Browse By</h2>

  <a class="browse-by-pill" href="javascript:void(0)" data-entity_type="PERSON"><img src="img/people-icon.svg" data-url-prepend-attr="src" /> People</a>

  <a class="browse-by-pill" href="javascript:void(0)" data-entity_type="DATE"><img src="img/dates-icon.svg" data-url-prepend-attr="src" /> Date</a>

  <a class="browse-by-pill" href="javascript:void(0)" data-entity_type="PLACE"><img src="img/places-icon.svg" data-url-prepend-attr="src" /> Places</a>

  <a class="browse-by-pill" href="javascript:void(0)" data-entity_type="WORK"><img src="img/works-icon.svg" data-url-prepend-attr="src" /> Works</a>

  <a class="browse-by-pill" href="javascript:void(0)" data-entity_type="ORG"><img src="img/repositories-icon.svg" data-url-prepend-attr="src" /> Repository</a>
</div>

<div id="browse-by-tray">
  <select id="browse-by-sort-box">
    <option value="alpha">Sort By: A-Z</option>
    <option value="freq">Sort By: Frequency</option>
  </select>
  <div id="browse-by-index"></div>
</div>
