<h1 id="letter-title"></h1>

<div id="letter-image-thumbs">

</div>

<div id="letter-viewer">
  <a id="previous-letter-link" class="letter-sequence-link" href=""><img class="letter-sequence-image" src="img/letter_viewer_previous_letter.png" alt="Previous letter" data-url-prepend-attr="src" /></a>

  <div id="letter-image-toolbar"></div>

  <div id="letter-image-and-license">
    <div id="letter-image-viewer"></div>
    <div id="letter-license">Distributed under a Creative Commons Attribution-ShareAlike 3.0 Unported License</div>
  </div>

  <div id="letter-xml-and-transcript">
    <div id="letter-xml">
      <a id="letter-xml-link" href="" target="_blank" alt="Go to the XML for this letter"><img id="letter-xml-image" src="img/icon_xml.png" data-url-prepend-attr="src"></a>
    </div>
    <div id="letter-transcript-viewer">
      <div id="letter-stretcher" style="height: 675px;">&nbsp;</div>
    </div>
  </div>

  <a id="next-letter-link" class="letter-sequence-link" href=""><img class="letter-sequence-image" src="img/letter_viewer_next_letter.png" alt="Next letter" data-url-prepend-attr="src" /></a>
</div>

<div id="letter-metadata">
  <div style="grid-column: 1; grid-row: 1">
    <label class="metadata-label">Author</label>
    <span id="letter-metadata-author"></span>
  </div>
  <div style="grid-column: 2; grid-row: 1">
    <label class="metadata-label">Transcription and coding by</label>
    <span id="letter-metadata-transcriber"></span>
  </div>
  <div style="grid-column: 3; grid-row: 1">
    <label class="metadata-label">Repository</label>
    <span id="letter-metadata-repository"></span>
  </div>

  <div style="grid-column: 1; grid-row: 2">
    <label class="metadata-label">Recipient</label>
    <span id="letter-metadata-recipient"></span>
  </div>
  <div style="grid-column: 2; grid-row: 2">
    <label class="metadata-label">First Digital Edition in TEI, Date</label>
    <span id="letter-metadata-first-edition-date"></span>
  </div>
  <div style="grid-column: 3; grid-row: 2">
    <label class="metadata-label">Collection</label>
    <span id="letter-metadata-collection"></span>
  </div>

  <div style="grid-column: 1; grid-row: 3">
    <label class="metadata-label">Date Written</label>
    <span id="letter-metadata-written-date"></span>
  </div>
  <div style="grid-column: 2; grid-row: 3">
    <label class="metadata-label">General Editors</label>
    <span id="letter-metadata-general-editors"></span>
  </div>
  <div style="grid-column: 3; grid-row: 3">
    &nbsp;
  </div>
</div>

<div id="letter-facets">
  <details id="letter-PERSON-facet" class="letter-facet">
    <summary>People</summary>
  </details>

  <details id="letter-WORK-facet" class="letter-facet">
    <summary>Works</summary>
  </details>

  <details id="letter-PLACE-facet" class="letter-facet">
    <summary>Places</summary>
  </details>
</div>

<div id="letter-citation-and-credit">
  <div id="letter-citation-container">
    <label class="metadata-label">Citation</label>
    <div id="letter-citation">
      Edegeworth, M. "Letter from Maria Edgeworth to Mrs. Miles December 14, 1811, MSL/1876/Forster/223", in The Maria Edgeworth Letters Archive, MSL/1876/Forster/223, 1v. Retrieved from https://mariaedgeworth.org/sc/va/msl_1876_forster/223/#/p2/mode/xml
    </div>
  </div>

  <div id="letter-credit">
    <h2>Credit Section</h2>
    Ut consequat ipsum sit amet ipsum porta egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi urna leo, rutrum a libero at, venenatis
  </div>
</div>

<div id="letter-up-next">
  <h2>Up Next</h2>
  <div id="letter-up-next-carousel" class="letter-carousel" data-identifier="up-next"></div>
</div>
