<div id="announcement-banner">
  The Editors are currently reviewing and correcting transcriptions and coding for MELP’s beta website.
</div>
<div id="nav-container">
  <h1 id="nav-title">
    <a href="/">The Maria Edgeworth Letters Project</a>
  </h1>

  <div id="nav-search">
    <input type="text" id="nav-search-bar" />
    <button type="button" id="nav-search-button">Search Letters</button>
  </div>

  <div id="nav-menu">
    <a id="nav-menu-about" href="/about">About</a>
    <a id="nav-menu-letters" href="/letters">Letters</a>
    <a id="nav-menu-locations" href="/locations">Locations</a>
  </div>

  <img id="hamburger-open-button" src="img/icon_hamburger.png" data-url-prepend-attr="src" />
</div>

<div id="masthead">
  <div id="masthead-title-and-description"></div>
</div>

<div id="hamburger-modal">
  <div id="hamburger-title-container">
    <img id="hamburger-close-button" src="img/icon_hamburger_close.png" data-url-prepend-attr="src" />
  </div>
  <div id="hamburger-search-container"></div>
  <div id="hamburger-nav-container"></div>
  <div id="hamburger-footer-container"></div>
</div>
