<div id="nav-container">
  <h1 id="nav-title">
    <a href="/">The Maria Edgeworth Letters Project</a>
  </h1>

  <div id="nav-search">
    <input type="text" id="nav-search-bar" />
    <button type="button" id="nav-search-button">Search Letters</button>
  </div>

  <div id="nav-menu">
    <a id="nav-menu-about" href="/about">About</a>
    <a id="nav-menu-letters" href="/letters">Letters</a>
    <a id="nav-menu-locations" href="/locations">Locations</a>
  </div>
</div>

<div id="masthead">
  <div id="masthead-title-and-description"></div>
</div>
